<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editServiceModal<%= service.id %>">
  Update service
</button>

<!-- Modal -->
<div class="modal fade editModal" id="editServiceModal<%= service.id %>" tabindex="-1" aria-labelledby="createServiceModalLabel<%= service.id %>" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="editServiceModalLabel<%= service.id %>">Edit Service</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h2>Edit Service</h2>
            <%= form_with(model: service, local: true,class: "edit_service_form") do |form| %>
                <div>
                    <%= form.label :title %>
                    <%= form.text_field :title %>
                </div>
                <div>
                    <%= form.label :description %>
                    <%= form.text_field :description %>
                </div>
                <div>
                    <%= form.label :images %>
                    <%= form.file_field :images, multiple: true %>
                </div>
            <%= form.submit "Update Service", data: { 'bs-dismiss': "modal" } %>
            <% end %>
      </div>
    </div>
  </div>
</div>
