<div class="service_card" style="width: 18rem;">
  <div class="option_card_body">
    <h5 class="card-title"><%= option.title%></h5>
    <h6 class="card-subtitle mb-2 text-body-secondary">Rs.<%= option.price%></h6>
    <p class="card-subtitle mb-2 text-body-secondary">Duration: <%= option.duration%> hours</p>
    <p class="card-text"><%= option.description%></p>
    <button type="button" class="option_book_button" data-bs-toggle="modal" data-bs-target="#bookNowModal<%= option.id %>">Book Now</button>
    <div id="datetime_validation_errors_<%= option.id%>" class="date_validation_errors">
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal" id="bookNowModal<%= option.id %>" tabindex="-1" aria-labelledby="bookNowModalLabel<%= option.id %>" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="bookNowModalLabel<%= option.id %>">Select Date and Time of Service</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close_modal_btn_<%= option.id%>"></button>
      </div>
      <div class="modal-body">
        <%= form_with(model: @service_request_item, url: service_request_items_path, class: "bookNowForm") do |form| %>
          <%= form.hidden_field :authenticity_token, value: form_authenticity_token %>
          <%= form.hidden_field :option_id, value: option.id %>
          <%= form.datetime_field :time_slot %>
          <%= form.submit "Add to cart",class: "add_to_cart_btn",data: { option_id: option.id, 'bs-dismiss': 'modal' } %>
        <% end %>
      </div>
    </div>
  </div>
</div>