<h2>Edit Service</h2>

<%= form_with(model: @service, local: true) do |form| %>

 <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
 </div>
  <div>
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>
  <div>
    <%= form.label :images %>
    <%= form.file_field :images, multiple: true %>
  </div>

 <%= form.submit "Update" %>
 <%= link_to "Back", services_path, class: "btn btn-danger" %>
<% end %>
