<%= javascript_include_tag 'otp'%>
<!-- Button trigger modal -->
<button type="button" data-item-id="<%= employee_slot.service_request_item.id%>" class="btn btn-primary start_service_btn" data-bs-toggle="modal" data-bs-target="#GetOtpModal<%= employee_slot.id%>">
  Start Service
</button>
<!-- Modal -->
<div class="modal fade" id="GetOtpModal<%= employee_slot.id%>" tabindex="-1" aria-labelledby="GetOtpModal_<%= employee_slot.id%>Label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="GetOtpModal_<%= employee_slot.id%>Label">Recieve OTP From Customer</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= form_with(url: verify_otp_path, method: :post) do |form| %>
          <%= form.hidden_field :service_request_item_id, value: employee_slot.service_request_item.id %>
          <%= form.label :otp, "OTP" %>
          <%= form.number_field :otp, required: true %>
          <%= form.submit "Start Service", class: "btn btn-primary", data: { 'bs-dismiss': "modal"} %>
        <% end %>
      </div>
    </div>
  </div>
</div>