<div class="container">
  <div class="signup-container">
    <h2 id="registration_header">Create an Employee</h2>
    <hr />
    <%= form_with(model: @user, url: employees_path, local: true) do |form| %>
      <div class="form_element">
        <%= form.label :name %><br />
        <%= form.text_field :name %>
      </div>
      <div class="form_element">
        <%= form.label :email %><br />
        <%= form.text_field :email %>
      </div>
      <div class="form_element">
        <%= form.label :password %><br />
        <%= form.password_field :password %>
      </div>
      <div class="form_element">
        <%= form.label :password_confirmation %><br />
        <%= form.password_field :password_confirmation %>
      </div>
      <div class="form_element" id="skill_select">
        <%= form.label :service_id, "Skill" %><br />
        <%= form.select :service_id, options_for_select(Service.pluck(:title, :id), prompt: "Select a Skill")%>
      </div>
      <%= form.submit "Create employee", class: "btn btn-success mt-4 create_employee_btn" %>
    <% end %>
  </div>
</div>
