<h2>Create an Employee</h2>
<%= form_with(model: @user, url: employees_path, local: true) do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>
  <div>
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>
  <div>
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation %>
  </div>
  <div>
    <%= form.label :service_id, "Skill" %>
    <%= form.select :service_id, options_for_select(Service.pluck(:title, :id), prompt: "Select a Skill")%>
  </div>
  <%= form.submit "Sign Up" %>
<% end %>
