<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#assignEmployeModal<%= service_request_item.id %>">
  Accept Service
</button>
<!-- Modal -->
<div class="modal fade" id="assignEmployeModal<%= service_request_item.id %>" tabindex="-1" aria-labelledby="assignEmployeModalLabel<%= service_request_item.id %>" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="assignEmployeModalLabel<%= service_request_item.id %>">Assign Employee for this Service Request</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h3><%= service_request_item.option.title%></h3>
        <h3><%= service_request_item.service_request.customer.user.name%></h3>
        <h3><%= service_request_item.service_request.customer.address%></h3>
        <p><%= service_request_item.time_slot.strftime("%B %d, %Y %I:%M %p")%></p>
        <%= form_with(model: @employee_slot, class: "employee_slot_form") do |form| %>
          <%= form.label :Select_Employee %>
          <%= form.collection_select :employee_id, @available_employees, :id, :name, prompt: "Select Employee", class:"employee_select_field" %>
          <%= form.hidden_field :employee_id, id: 'employeeId' %>
          <%= form.hidden_field :service_request_item_id, id: 'serviceRequestId' %>
          <%= form.submit "Assign Employee", class: "btn btn-primary" %>
          <%= form.submit "Update Service",class: "update_service_btn", data: { 'bs-dismiss': "modal", 'service-id': service.id } %>
        <% end %>
      </div>
    </div>
  </div>
</div>