<h1 class="admin_dashboard_header">Admin Dashboard</h1>
<hr />
<% if @service_request_items.any?%>
  <div class="container">
    <h2 class="admin_dashboard_header">Service Bookings</h2>
    <table class="table admin_table">
      <thead>
        <tr>
          <th>Service Title</th>
          <th>Time Slot</th>
          <th>Customer Name</th>
          <th>Customer Address</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @service_request_items.each do |item| %>
          <tr id="booked_service_<%= item.id %>" class="admin_table_record">
            <td><%= item.option.title %></td>
            <td><%= item.time_slot.strftime("%B %d, %Y %I:%M %p") %></td>
            <td><%= item.service_request.customer.user.name %></td>
            <td><%= item.service_request.customer.address %></td>
            <td>
              <%= link_to 'Accept Service',service_request_item_path(item), class: "btn btn-primary"%>
              <%= button_to "Decline Service", service_request_item_path(item), method: :patch, params: { service_request_item: { status: 'rejected' } }, class: "btn btn-danger reject_btn" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% else%>
  <h2 id="no_booking">No Bookings as of now</h2>
<% end%>
