<div class="container">
  <div class="signup-container">
    <h2 id="registration_header">Create an Admin</h2>
    <hr />
    <%= form_with(model: @user, url: admins_path, local: true) do |form| %>
      <div class="form_element">
        <%= form.hidden_field :role_id, value: @role_id %>
      </div>
      <div class="form_element">
        <%= form.label :name %><br />
        <%= form.text_field :name %>
      </div>
      <div class="form_element">
        <%= form.label :email %><br />
        <%= form.text_field :email %>
      </div>
      <div class="form_element">
        <%= form.label :password %><br />
        <%= form.password_field :password %>
      </div>
      <div class="form_element">
        <%= form.label :password_confirmation %><br />
        <%= form.password_field :password_confirmation %>
      </div>
      <%= form.submit "Create Admin", class: "btn btn-success mt-4 create_admin_btn" %>
    <% end %>
  </div>
</div>
