<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#feedbackModal<%=item.id%>">
  Feedback
</button>
<!-- Modal -->
<div class="modal fade" id="feedbackModal<%=item.id%>" tabindex="-1" aria-labelledby="feedbackModalLabel<%=item.id%>" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="feedbackModalLabel<%=item.id%>">Feedback for the Service</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <% render_present_feedback(item) do %>
          <p>Your Feedback : <%= item.feedback%></p>
        <% end %>
        <% render_feedback_form(item) do%>
          <%= form_with(model: item, url: service_request_item_path(item), method: :patch) do |form| %>
            <div class="form-group">
              <%= form.label :feedback, "Feedback" %>
              <%= form.text_area :feedback, class: "form-control" %>
            </div>
            <%= form.submit "Submit Feedback", class: "btn btn-primary", data: { 'bs-dismiss': "modal"} %>
          <% end %>
        <% end%>
      </div>
    </div>
  </div>
</div>
