<h1 class="booking_details_header">Booking Details</h1>
<hr />
<div class="container booking_details_container">
  <h2 class="booking_details_header">Booking Items</h2>
  <% @service_request_items.each do |item| %>
    <% if item.status != 'completed' &&  item.status != 'rejected'%>
      <div class="booking_item_details">
        <div class="booking_item_name">
          <p><strong>Service</strong></p>
          <p><%= @options.find(item.option_id).title %></p>
        </div>
        <div class="booking_item_time">
          <p><strong>Time Slot</strong></p>
          <p><%=  item.time_slot.strftime("%B %d, %Y %I:%M %p")  %></p>
        </div>
        <%= render 'view_status_modal', item: item%>
      </div>
    <% else%>
      <div class="booking_item_details">
        <div class="booking_item_name">
          <p><strong>Service</strong></p>
          <p><%= @options.find(item.option_id).title %></p>
        </div>
        <div class="booking_item_time">
          <p><strong>Time Slot</strong></p>
          <p><%=  item.time_slot.strftime("%B %d, %Y %I:%M %p")  %></p>
        </div>
        <%if item.status == 'completed'%>
          <p class="completed_indicator">Completed</p>
          <%= render 'feedback_modal', item: item%>
        <% else%>
          <p class="rejected_indicator">Rejected</p>
        <%end%>
      </div>
    <% end %>
  <%end%>
</div>
