<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editOptionModal<%= option.id %>">
  Update Option
</button>
<!-- Modal -->
<div class="modal fade editModal" id="editOptionModal<%= option.id %>" tabindex="-1" aria-labelledby="editOptionModalLabel<%= option.id %>" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="editOptionModalLabel<%= option.id %>">Update Service Option</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= form_with(model: option, class: "edit_option_form", url: service_option_path(service,option), data: { 'service-id': service.id, 'option-id': option.id }) do |form| %>
          <div class="modal_element">
            <%= form.label :title %><br />
            <%= form.text_field :title %>
          </div>
          <div class="modal_element">
            <%= form.label :description %><br />
            <%= form.text_area :description %>
          </div>
          <div class="modal_element">
            <%= form.label :duration%><br />
            <%= form.number_field :duration%>
          </div>
          <div class="modal_element">
            <%= form.label :price %><br />
            <%= form.number_field :price %>
          </div>
          <%= form.submit "Update Option",class: "update_option_btn", data: { 'bs-dismiss': "modal", 'option-id': option.id, 'service-id': service.id }, class: "sign_up_button btn btn-success mt-3" %>
        <% end %>
      </div>
    </div>
  </div>
</div>