<html>
  <head>
    <%= wicked_pdf_stylesheet_link_tag "invoice" %>
  </head>
</body>
<h1 id="invoice_header">INVOICE</h1>
<hr />
<div class="container">
  <div class="invoice_container">
    <div class="invoice_details">
      <h2>Service Title : <%= find_service(find_option(item.option_id).service_id).title%></h2>
      <h2>Option Title : <%= find_option(item.option_id).title%></h2>
      <h2>Order Placed at : <%= item.created_at.strftime("%B %d, %Y %I:%M %p")%></h2>
      <h2>Time Slot : <%= item.time_slot.strftime("%B %d, %Y %I:%M %p")%></h2>
      <hr />
      <h1 id="invoice_price">Total : Rs.<%= find_option(item.option_id).price %></h1>
      <hr />
      <h2>Thank You for Choosing us!</h2>
    </div>
  </div>
</div>
</body>
</html>