<div class="container request_item">
  <h1 class="option_title">Assign Employee</h1>
  <hr />
  <h3>Service Name : <%= @service_request_item.option.title%></h3>
  <h3>Customer Name : <%= @service_request_item.service_request.customer.user.name%></h3>
  <h3>Customer Address : <%= @service_request_item.service_request.customer.address%></h3>
  <h3>Time Slot : <%= @service_request_item.time_slot.strftime("%B %d, %Y %I:%M %p")%></h3>
  <hr />
  <%= form_with(model: EmployeeSlot.new, url: employee_slots_path, method: :post, class: "assign_form") do |form| %>
    <h3>Select Employee</h3>
    <%= form.select :employee_id, options_for_select(@available_employees.map { |e| [e.user.name, e.id] })%>
    <%= form.hidden_field :service_request_item_id, value: @service_request_item.id %>
    <%= form.hidden_field :time_slot, value: @service_request_item.time_slot %>
    <%= form.submit "Assign Employee", class: "btn btn-primary mt-3" %>
  <% end %>
</div>
