<div class="most_booked_cards">
  <div class="card">
    <div class="px-2 pt-2 position-relative">
      <%= image_tag "home/pic7", class: "most_booked_images"%>
      <button class="btn btn-square btn-white rounded-circle position-absolute top-6 end-6 transform scale-105-hover">
        <i class="bi bi-basket"></i>
      </button>
    </div>
    <div class="card-body">
      <h3 class="text-base text-muted font-semibold mb-3">Men Haircut</h3>
      <div class="price_button">
        <span class="d-block h3 mb-0">Rs.250</span>
        <%= button_to "Book Now", class: "most_booked_button"%>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="px-2 pt-2 position-relative">
      <%= image_tag "home/pic9", class: "most_booked_images"%>
      <button class="btn btn-square btn-white rounded-circle position-absolute top-6 end-6 transform scale-105-hover">
        <i class="bi bi-basket"></i>
      </button>
    </div>
    <div class="card-body">
      <h3 class="text-base text-muted font-semibold mb-3">AC Repair</h3>
      <div class="price_button">
        <span class="d-block h3 mb-0">Rs.1000</span>
        <%= button_to "Book Now", class: "most_booked_button"%>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="px-2 pt-2 position-relative">
      <%= image_tag "home/pic8", class: "most_booked_images"%>
      <button class="btn btn-square btn-white rounded-circle position-absolute top-6 end-6 transform scale-105-hover">
        <i class="bi bi-basket"></i>
      </button>
    </div>
    <div class="card-body">
      <h3 class="text-base text-muted font-semibold mb-3">Bathroom Cleaning</h3>
      <div class="price_button">
        <span class="d-block h3 mb-0">Rs.1000</span>
        <%= button_to "Book Now", class: "most_booked_button"%>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="px-2 pt-2 position-relative">
      <%= image_tag "home/pic2", class: "most_booked_images"%>
      <button class="btn btn-square btn-white rounded-circle position-absolute top-6 end-6 transform scale-105-hover">
        <i class="bi bi-basket"></i>
      </button>
    </div>
    <div class="card-body">
      <h3 class="text-base text-muted font-semibold mb-3">Cockroach Control</h3>
      <div class="price_button">
        <span class="d-block h3 mb-0">Rs.500</span>
        <%= button_to "Book Now", class: "most_booked_button"%>
      </div>
    </div>
  </div>
</div>
