<div class="most_booked_services">
  <div class="card" style="width: 18rem;">
    <%= image_tag "home/pic7", class: "most_booked_images"%>
    <div class="card-body">
      <h3 class="card-text">Men's Salon</h3>
      <br />
      <%= link_to "Book Now", root_path, class: "most_booked_button"%>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <%= image_tag "home/pic9", class: "most_booked_images"%>
    <div class="card-body">
      <h3 class="card-text">Appliance Repair</h3>
      <br />
      <%= link_to "Book Now", root_path, class: "most_booked_button"%>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <%= image_tag "home/pic8", class: "most_booked_images"%>
    <div class="card-body">
      <h3 class="card-text">Cleaning</h3>
      <br />
      <%= link_to "Book Now", root_path, class: "most_booked_button"%>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <%= image_tag "home/pic2", class: "most_booked_images"%>
    <div class="card-body">
      <h3 class="card-text">Pest Control</h3>
      <br />
      <%= link_to "Book Now", root_path, class: "most_booked_button"%>
    </div>
  </div>
</div>
