<h2>Edit Your Profile</h2>

<%= form_with(model: @customer, local: true) do |form| %>

<%= form.fields_for :user do |user_form| %>
<div>
    <%= user_form.label :name %>
    <%= user_form.text_field :name %>
</div>
<div>
    <%= user_form.label :email %>
    <%= user_form.text_field :email %>
 </div>

 <div>
    <%= user_form.label :password %>
    <%= user_form.password_field :password %>
 </div>

 <div>
    <%= user_form.label :password_confirmation %>
    <%= user_form.password_field :password_confirmation %>
 </div>
 <% end %>

<div>
    <%= form.label :address %>
    <%= form.text_field :address %>
</div>

<div>
    <%= form.label :phone_number %>
    <%= form.text_field :phone_number %>
</div>

 <%= form.submit "Sign Up" %>
<% end %>
