<div class="container main">
  <div class="left col-6">
    <div class="slogan">
      <h1>Home Services at your<br>
        doorstep.</h1>
    </div>
    <div class="navigation mt-4">
      <div class="row row-cols-3 mt-5">
        <% @services.each do |service| %>
          <div class="col">
            <%= render 'service_display', service: service %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="right col-6">
    <%= render 'image_collage'%>
  </div>
</div>
<div class="container secondary_container">
  <div class="carousel">
    <%= render 'carousel'%>
  </div>
  <div class="most_booked">
    <h3 id="most">Our Most Booked Services</h3>
    <%= render 'most_booked'%>
  </div>
</div>
<div class="footer">
  <%= render 'footer'%>
</div>