<tr id="cart_item_<%=item.id%>">
  <td><%= find_option(item.option_id).title %></td>
  <td>
    <p id="item_time_slot_<%= item.id%>"><%= item.time_slot.strftime("%B %d, %Y %I:%M %p") %></p>
  </td>
  <td>Rs.<%= find_option(item.option_id).price %></td>
  <td>
    <div class="cart_buttons">
      <%= button_to 'Remove', service_request_item_path(item), method: :delete,class: "remove_item_btn btn btn-danger", data: { item_id: item.id } %>
    </div>
  </td>
</tr>