<%= javascript_include_tag 'cart_item' %>
<%= javascript_include_tag 'service_request' %>
<div class="container cart_container">
  <div id="cart_items_container">
    <% if @service_request_items.any?%>
      <h1 id="cart_header"> My Cart </h1>
      <table class="table" id="cart_table">
        <thead>
          <tr>
            <th>Service</th>
            <th>Time Slot</th>
            <th>Price</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody id="cart_body">
          <% @service_request_items.each do |item| %>
            <%= render 'cart_item', item: item%>
          <% end %>
        </tbody>
      </table>
      <h1>Total : Rs.<span id="cart_total"><%= calculate_cart_total %><span></h1>
          <%= button_to 'Place Order', service_requests_path, method: :post, id: 'place_order_btn', class: 'btn btn-success' %>
        <% else %>
          <h1 id="empty_cart">Your Cart is Empty</h1>
        <% end %>
      </div>
    </div>