<div class="container">
  <div class="login_container">
    <h2 id="registration_header">Log in</h2>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field form_element">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>
      <div class="field form_element">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>
      <div class="actions form_element">
        <%= f.submit "Log in", class: "sign_up_button" %>
      </div>
    <% end %>
    <hr />
    <p id="account_warning">Do not have an Account?</p>
    <div class="form_links">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
